/*Обнуляем стили при помощи другого CSS-файла*/
@import url('reset.css');
/*Общие стили*/
a {text-decoration: none;}
:root { scroll-behavior: smooth; }
::-webkit-scrollbar { width: 7px; opacity: 0; }
::-webkit-scrollbar-thumb { background-color: rgba(245, 245, 245, 0.708); border-radius: 8px;}
a {color: white;}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #101010;
    font-size: 17px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {width: 250px;}
.text {font-size: 22px;}
/*Шапка сайта*/
nav {
    z-index: 48;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    gap: 5px;
    text-transform: lowercase;
}
.showWindowIsDone {
    display: none;
    position: fixed;
    z-index: 49;
    padding: 3px;
    background-color: #101010;
    border: 1px solid whitesmoke;
    max-width: 580px;
    gap: 5px;
    justify-content: center;
    animation-name: show_window;
    animation-fill-mode: forwards;
    animation-duration: 5s;
   
}
@keyframes show_window {
    100% {
        animation-delay: 1s;
        animation-duration: 5s;
        opacity: 0;
        display: none;
    }
}
.showWindowIsDone .text { margin-top: 1px; text-transform: none; font-size: 17px; }
.links {font-size: 22px;}
.nav_link {
    position: relative;
    margin: 0 -3px;
    padding: 7px;
    background-color: #101010;
    border: 1px solid white;
    color: whitesmoke;
    transition-duration: 0.3s;
}
.nav_link:hover { color: #101010; background-color: whitesmoke; }
.nav_link:active {
    color: whitesmoke;
    background-color: greenyellow;
    border-color: greenyellow;
}
/*Элементы из заднего фона*/
.background-custom {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99.5%;
    height: 99.5%;
    gap: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: -1;
}
/*Сами элементы*/
.element-content {
    width: 2000px;
    height: 0.2px;
    border: 1px solid whitesmoke;
    border-bottom: 0; border-left: 0; border-right: 0;
    opacity: 0.5;
}
.elem1 {
    transform: rotate(-50deg);
    transform: translateX(-20px);
    animation-name: elem1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem2 {
    transform: rotate(-90deg);
    animation-name: elem2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem3 {
    transform: rotate(-150deg);
    animation-name: elem3;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem4 {
    transform: rotate(90deg);
    animation-name: elem4;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem5 {
    transform: rotate(150deg);
    animation-name: elem5;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem6 {
    transform: rotate(-90deg);
    animation-name: elem6;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem7 {
    transform: rotate(-150deg);
    animation-name: elem7;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*Ключи анимации*/ 
@keyframes elem1 {
    100% { transform: rotate(-180deg); transform: translateY(230px);};
}
@keyframes elem2 {
    100% {transform: rotate(711deg); transform: translateY(-202px);};
}
@keyframes elem3 {
    100% {transform: rotate(300deg); transform: translateY(-200px);};
}
@keyframes elem4 {
    100% {transform: rotate(387deg); transform: translateY(-440px);};
}
@keyframes elem5 {
    100% {transform: rotate(589deg); transform: translateY(-170px);};
}
@keyframes elem6 {
    100% {transform: rotate(727deg); transform: translateY(110px);};
}
@keyframes elem7 {
    100% {transform: rotate(-945deg); transform: translateY(183px);};
}
/*Основной контент*/
.main-contents {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px 20px;
    width: 90%;
}
.infocompany {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 10px;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-direction: row;
    transform: translateX(-10px);
    gap: 15%;
}
.infocompany .block:last-child {justify-content: center;}
.infocompany .text {width: 50%;}
.infocompany .block .logo {width: 18%;}
.deco_logo{ width: 15%; transform: rotate(71deg); }
/*Элемент с отзывами*/
.CommentsElem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    align-items: center;
    padding: 10px;
}
.CommentsElem .text { font-size: 40px; width: 100%; }
.comments_block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 120%;
}
.comment_item {
    width: 100%;
    background-color: #101010;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 16px;
}
.comment_item .logo {
    width: 6%;
    border-radius: 50px;
    margin-right: 7px;
    margin-bottom: 8px;
}
/*Каталог с товарами*/
.products .block {
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    gap: 0px;
}
.products p {font-size: 35px;}
.block_custom {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 95%;
}
.block-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 95%;
    height: 80px;
    background-color: #101010;
    border: 1px solid whitesmoke;
    margin: 10px;
}
.blockinfo {
    margin: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 80%;
    height: 56%;
    font-size: 60px;
    border: 0.9px solid whitesmoke;
    color: whitesmoke;
}
.block-item .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 90%;
    font-size: 15px;
}
.price { margin-right: 10px; font-size: 25px; }
.addProduct {
    padding: 5px;
    background: none;
    border: 1px solid whitesmoke;
    border-radius: 0;
    color: whitesmoke;
    font-size: 20px;
    transition-duration: 0.3s;
    width: 15em;
    height: 2em;
    transition-duration: 0.5s;
}
.addProduct:hover {
    width: 14.9em;
    height: 1.9em;
    font-size: 19px;
    background-color: whitesmoke;
    color: #101010;
}
.addProduct:active { background-color: yellowgreen; border-color: yellowgreen; }
/*Форма*/
.windowBG {
    position: fixed;
    z-index: 50;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #101010f0;
}
/*Создание иконки для закрытия окна*/
.closeWindow {
    background: none;
    border: none;
    height: 30px;
    margin-left: 92.5%;
    padding: 0 10px;
}
.line {
    width: 25px;
    height: 0px;
    border: 2px solid whitesmoke;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    transition-duration: 0.2s;
}
.line:first-child {transform: rotate(45deg);}
.line:last-child { transform: rotate(-45deg); margin-top: -2px; }
.closeWindow:hover {
    .line {
        border-color: yellowgreen;
        box-shadow: 0px 0px 1px yellowgreen;
    }
}
.window_custom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 22em;
    padding: 8px 15px;
    background-color: #101010;
    border: 1px solid whitesmoke;
}
.window_custom .text {
    font-size: 25px;
    text-transform: uppercase;
}
.userInfo .text {
    margin-top: 3px;
    text-transform: none;
    font-size: 17px;
}
.text { padding: 5px 0px; }
.window_custom input {
    width: 98.9%;
    height: 1.5em;
    padding: 5px 2px;
    background: #101010;
    border: 1px solid #2c2c2c;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    color: whitesmoke;
    transition-duration: 0.3s;
}
.window_custom input:focus {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: white;
}
.textError {
    display: none;
    padding: 5px 0;
    font-size: 13px;
    color: rgb(255, 28, 28);
}
.clicksend {
    border: none;
    background: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 0;
    padding: 5px;
    font-size: 20px;
   
    transition-duration: 0.3s;
}
.clicksend:hover {
    color: #101010;
    border-color: yellowgreen;
    background-color: yellowgreen;
}
/*Подвал сайта*/
footer {
    padding: 30px 20px;
    background-color: #101010;
    border: 1px solid whitesmoke;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    font-size: 14.5px;
}
footer .logo {width: 8em;}
footer li {margin: 5px 0px;}
.copyright {
    border: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 0px 5px 0px 0px;
}
/*Медиазапросы*/
@media (max-width: 1000px) {
    .text {font-size: 17px; flex-wrap: wrap;}
    .showWindowIsDone .text {font-size: 13.9px;}
    .infocompany { padding: 0; }
    .infocompany .block {padding: 10px;}
    .infocompany .block .logo {width: 8em;}
    .deco_logo {width: 28%;}
    .infocompany .block .text {width: 100%;}   
    .infocompany .block { flex-direction: column-reverse; width: 90%; }
    .CommentsElem {justify-content: end;}
    .CommentsElem .text {font-size: 30px; padding-bottom: 10px;}   
    .CommentsElem .block {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .comment_item { width: 85%; }
    .block-item {width: 110%;}
    .block-item .text { font-size: 13px; width: 100%; margin-left: 10px; }
    .blockinfo { display: none; }
    .addProduct {width: 14.8em;}
    .addProduct:hover {width: 14.7em; height: 1.85em;}
}
