/*Обнуляем стили при помощи другого CSS-файла*/
@import url('reset.css');
/*Общие стили*/
:root {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 9px;
    opacity: 0;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(245, 245, 245, 0.708);
    border-radius: 8px;   
}
a {color: white;}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #101010;
    font-size: 17px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 120vh;
}
.logo {width: 25%;}
.text {font-size: 22px;}
/*Шапка сайта*/
nav {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 10px;
    gap: 5px;
    text-transform: lowercase;
}
.showWindowIsDone {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 2px 1px;
    background-color: #101010;
    border: 2px solid whitesmoke;
    width: 45%;
    gap: 5px;
    justify-content: center;
    animation-name: show_window;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    transform: translateY(-75px);
}
@keyframes show_window {
    9% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(40px);
        animation-duration: 2s;
        opacity: 0;
        display: none;
    }
}
.showWindowIsDone .text {
    margin-top: 1px;
    text-transform: none;
    font-size: 17px;
}
.showWindowIsDone .logo{width: 5%;}
.links {font-size: 22px;}
.nav_link {
    margin: 0 -3px;
    padding: 7px;
    border: 1px solid white;
    background-color: #101010;
    color: whitesmoke;
    background: none;
    transition-duration: 0.3s;
}
.nav_link:hover {
    color: #101010;
    background-color: whitesmoke;
}
.nav_link:active {
    color: whitesmoke;
    background-color: greenyellow;
    border-color: greenyellow;
}

/*Элементы из заднего фона*/
.background-custom {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99.5%;
    height: 99.5%;
    gap: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}
/*Сами элементы*/
.element-content {
    width: 2000px;
    height: 0.2px;
    border: 1px solid whitesmoke;
    border-bottom: 0; border-left: 0; border-right: 0;
    opacity: 0.5;
}
.elem1 {
    transform: rotate(-50deg);
    transform: translateX(-20px);
    animation-name: elem1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem2 {
    transform: rotate(-90deg);
    animation-name: elem2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem3 {
    transform: rotate(-150deg);
    animation-name: elem3;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem4 {
    transform: rotate(90deg);
    animation-name: elem4;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem5 {
    transform: rotate(150deg);
    animation-name: elem5;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem6 {
    transform: rotate(-90deg);
    animation-name: elem6;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.elem7 {
    transform: rotate(-150deg);
    animation-name: elem7;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*Ключи анимации*/ 
@keyframes elem1 {
    100% {
        transform: rotate(-180deg);
        transform: translateY(230px);
    };
}
@keyframes elem2 {
    100% {
        transform: rotate(711deg);
        transform: translateY(-202px);
    };
}
@keyframes elem3 {
    100% {
        transform: rotate(300deg);
        transform: translateY(-200px);
    };
}
@keyframes elem4 {
    100% {
        transform: rotate(387deg);
        transform: translateY(-440px);
    };
}
@keyframes elem5 {
    100% {
        transform: rotate(589deg);
        transform: translateY(-170px);
    };
}
@keyframes elem6 {
    100% {
        transform: rotate(727deg);
        transform: translateY(110px);
    };
}
@keyframes elem7 {
    100% {
        transform: rotate(-945deg);
        transform: translateY(183px);
    };
}
/*Основной контент*/
.main-contents {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px 20px;
    width: 90%;
}
.infocompany {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 10px;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-direction: row;
    gap: 15%;
    transform: translateX(-10px);
    animation-name: showcontent;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.infocompany .block:last-child {justify-content: center;}
.infocompany .text {width: 45%;}
.infocompany .block .logo {width: 18%;}
.deco_logo{
    width: 15%;
    transform: rotate(71deg);
}
@keyframes showcontent {
    100% {
        transform: translate(10px);
        opacity: 1;
    }
}
/*Элемент с отзывами*/
.CommentsElem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6%;
    align-items: center;
    padding: 10px;
}
.CommentsElem .text {
    font-size: 40px;
    width: 150%;
}
.comments_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120%;
}
.comment_item {
    width: 85%;
    background-color: #1010108d;
    border: 1px solid whitesmoke;
    padding: 10px;
}

.comment_item .logo {
    width: 10%;
    border-radius: 50px;
    margin-right: 5px;
}
/*Каталог с товарами*/
.products .block {
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    gap: 0px;
}
.products p {font-size: 35px;}
.block_custom {
    margin: 10px;
    display: flex;
}
.block-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 500px;
    background-color: #1010108d;
    border: 1px solid whitesmoke;
    margin: 10px;
}
.blockinfo {
    margin: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid whitesmoke;
    width: 80%;
    height: 50%;
    font-size: 80px;
    color: #10101000;
    -webkit-text-stroke: 0.2px whitesmoke;
}
.block-item .text {
    text-transform: uppercase;
    width: 98%;
    font-size: 15px;
}
.price {
    font-size: 25px;
    width: 95%;
}
.addProduct {
    padding: 5px;
    background: none;
    border: 1px solid whitesmoke;
    border-radius: 0;
    color: whitesmoke;
    font-size: 20px;
    transition-duration: 0.3s;
    width: 100%;
}
.addProduct:hover {
    background-color: whitesmoke;
    color: #101010;
}
.addProduct:active {
    background-color: yellowgreen;
    border-color: yellowgreen;
}
/*Форма*/
.windowBG {
    position: fixed;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
}
/*Создание иконки для закрытия окна*/
.closeWindow {
    background: none;
    border: none;
    height: 30px;
    margin-left: 94%;
    padding: 0 10px;
}
.line {
    width: 20px;
    height: 0px;
    border: 2px solid whitesmoke;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.line:first-child {transform: rotate(50deg);}
.line:last-child {
    transform: rotate(-50deg);
    margin-top: -2px;
}
.window_custom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    padding: 8px 15px;
    background-color: #101010;
    border: 1px solid whitesmoke;
}
.window_custom .text {
    font-size: 25px;
    text-transform: uppercase;
}
.userInfo .text {
    text-transform:none;
    font-size: 15px;
}
.text {
    padding: 5px 0px;
}
.window_custom input {
    width: 95%;
    height: 1.5em;
    padding: 5px 2px;
    background: #101010;
    border: 1px solid #2c2c2c;
    color: whitesmoke;
    border-radius: 0;
}
.textError {
    display: none;
    padding: 5px 0;
    font-size: 13px;
    color: rgb(255, 28, 28);
}
.clicksend {
    border: none;
    background: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 0;
    padding: 5px;
    font-size: 20px;
    width: 33%;
    transition-duration: 0.3s;
}
.clicksend:hover {
    color: #101010;
    border-color: yellowgreen;
    background-color: yellowgreen;
}
/*Подвал сайта*/
footer {
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px);
    font-size: 14.5px;
}
footer .logo {width: 9.5%;}
footer li {margin: 5px 0px;}
.copyright {
    border: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 0px 5px 0px 0px;
}
/*Медиазапросы*/

@media screen and (max-width: 1350px) {
    .infocompany .text {width: 60%;}
    .CommentsElem .text {font-size: 24px;}
    .comments_item {width: 350%;}
    .clicksend {width: 55%;}
    .window_custom .text {font-size: 18px;}
    .showWindowIsDone {width: 48%;}
}
@media screen and (max-width: 992px) {
    
    .infocompany .block .text {font-size: 19px;}
    .CommentsElem .text {font-size: 22px;}
    .comments_block p {font-size: 15px;}
    .comment_item {width: 100%;}
    .block-item {
        width: 170px;
        height: 500px;
    }
    .block-item .text {font-size: 12px;}
    .clicksend {width: 44%;}
    .window_custom .text {font-size: 15px;}
    .window_custom {width: 36%;}
}
@media screen and (max-width: 767px) {
    .infocompany .block .text {font-size: 17px;}
    .CommentsElem .text {font-size: 17px;}
    .comments_block p {font-size: 12.5px;}
    .block-item {
        width: 148px;
        height: 430px;
    }
    .products .block {
        justify-content: center;
        align-items: center;
    }
    .products .block .text {font-size: 10px;}
    .price {font-size: 20px;}
    .clicksend {width: 48%;}
}

/*Другое*/
@media screen and (max-width: 992px) {
    .comments_block {
        width: 300%;
    }   
}
@media screen and (max-width: 1235px) {
    .showWindowIsDone {width: 53%;}
}
@media screen and (max-width: 1121px) {
    .showWindowIsDone {width: 57%;}
}
@media screen and (max-width: 1047px) {
    .showWindowIsDone {width: 65%;}
}
@media screen and (max-width: 915px) {
    .showWindowIsDone {width: 80%;}
}
@media screen and (max-width: 748px) {
    .showWindowIsDone {width: 88%;}
}
@media screen and (max-width: 684px) {
    .showWindowIsDone {width: 99.5%;}
}
